<!DOCTYPE html>
<html lang="en" ng-app="demoDirectives" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Learning directives</title>
    <link rel="stylesheet" href="css/theme.css">

    <script src="js/libs/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/ctrl.js"></script>
    <script src="js/directives/directives.js"></script>
</head>
<body>

<div ng-controller="Ctrl">
	<h1>Step 2</h1>
	<a href="index.html">index</a><br/>
    Change the panel title on the fly : <input type="text" ng-model="panelTitle"> <br/>
    Angular expression field : <input type="text" ng-model="contentField"> <br/>
    <br/>
    <div my-dir2 title="{{panelTitle}}" >Contents of the div. Angular Expression result : {{contentField}}</div>
    <br/>
	<span style="font-weight:bold;">as element</span> <br/>
    <br/>
    <my-dir2 title="{{panelTitle}}" >Contents of the div. Angular Expression result : {{contentField}}</my-dir2>
    <br/>

	<h2>Light version</h2>

	<div my-dir2-l title="{{panelTitle}}">Contents of the div. Angular Expression result : {{contentField}}</div>
	<br/>
	<span style="font-weight:bold;">as element</span> <br/>
	<br/>
	<my-dir2-l title="{{panelTitle}}">Contents of the div. Angular Expression result : {{contentField}}</my-dir2-l>

</div>
</body>
</html>